@implements IDisposable

@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyCOLL Gestão</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column" style="display: flex; flex-direction: column; min-height: 100%;">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categoria">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Categorias
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="produtos">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Produtos
                    </NavLink>
                </div>
                
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Administrador, Funcionario">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="encomendas">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Encomendas
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/utilizadores">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Utilizadores
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="produtos/aprovacao">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Aprovações
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3 mt-auto pb-3">
            <NavLink class="nav-link" href="sobre">
                <span class="bi bi-info-circle-fill-nav-menu" aria-hidden="true"></span> Sobre
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

