@page "/sobre"

<PageTitle>Sobre</PageTitle>

<h1>Sobre</h1>

<p>Aplicação MyCOLL - Gestão de Colecionáveis</p>
<p>Desenvolvido no âmbito de Programação Web 2025/26</p>

<p><strong>Alunos:</strong> Duarte Batista e José Moreira</p>

@code {

}